


"###############################
"   package management 
"###############################
filetype off


set surround
set exchange
set commentary
set ReplaceWithRegister

set visualbell
set noerrorbells





try 
  source ~/.vimrc_main
catch
  " No such file? No problem; just ignore it.
endtry


vnoremap <A-j> :action MoveLineDown<CR>
vnoremap <A-k> :action MoveLineUp<CR>
nnoremap <A-j> :action MoveLineDown<CR>
nnoremap <A-k> :action MoveLineUp<CR>
inoremap <A-j> <ESC>:action MoveLineDown<CR>gi
inoremap <A-k> <ESC>:action MoveLineUp<CR>gi
