$include /etc/inputrc


# enbale 8-th bit flag
set meta-flag on
set input-meta on

# Turnes off 8--th bit stripping
set convert-meta off
set output-meta on

# do not bell on tab-completion
set bell-style none
set bell-style visible
